@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latohairline.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latohairlineitalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latothin.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latothinitalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latolight.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latolightitalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latoregular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latoitalic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latomedium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latomediumitalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latosemibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latosemibolditalic.ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latobold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latobolditalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latoheavy.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latoheavyitalic.ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latoblack.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/latoblackitalic.ttf');
    font-weight: 900;
    font-style: italic;
}
